<apex:page showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" standardController="Lookups__c" extensions="recordEditController" title="recordEdit">

    <!-- Start - Stylesheet, jquery, ALJS Files -->
    
    <!-- Lightning Design System Source -->
    <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    <!-- jQuery CDN -->
    <apex:includeScript value="https://code.jquery.com/jquery-1.11.1.min.js"></apex:includeScript>
    <!-- moment -->
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></apex:includeScript>
    <!-- Important To Include ALJS init File-->
    <apex:includeScript value="{!URLFOR($Resource.ALJS, 'appiphony-lightning-js-master/public/src/jquery.aljs-init.js')}"></apex:includeScript> 
    <!-- ALJS all Module-->
    <apex:includeScript value="{!URLFOR($Resource.ALJS, 'appiphony-lightning-js-master/public/src/jquery.aljs-all.js')}" />
    
    <!-- End - Stylesheet, jquery, ALJS Files -->
    
    <script type="text/javascript">
        
        function saveData() {
            
            var accountFieldValue = fetchLookupValueById('accountFieldId');
            var areYouInterestedValue = fetchCheckBoxValById('areYouInterestedFieldIf');
            var entryDateValue = fetchDateValById('entryDateFieldId');
            var optNameValue = fetchTextValueById('optNameFieldId');

            saveAllData(accountFieldValue, areYouInterestedValue, entryDateValue, optNameValue); 

        }
        
        function fetchLookupValueById(idOfInput){
                        
            return fetchValueById('search'+idOfInput);
        }
        
        function fetchValueById(idOfInput){
            
            return j$('#'+idOfInput).val();
        }
        
        function fetchCheckBoxValById(idOfInput){
            
            return j$('.'+idOfInput).prop('checked');
        } 
                    
        function fetchDateValById(idOfInput){
            
            return fetchValueById(idOfInput);
        }
                    
        function fetchTextValueById(idOfInput){ 
            
            return j$('.'+idOfInput).val();
        }
        
    </script>
    
    <apex:form id="formId">
        <apex:pageMessages id="pageMessage"/>
        <apex:actionFunction name="saveAllData" action="{!saveLookUpData}" rerender="formId">     
            <apex:param name="accountFieldValue" value="" assignTo="{!objlookupFieldValuesdWrapper.strAccount}" />
            <apex:param name="areYouInterestedValue" value="" assignTo="{!objlookupFieldValuesdWrapper.boolAreYouInterestedValue}" /> 
            <apex:param name="entryDateValue" value="" assignTo="{!objlookupFieldValuesdWrapper.strEntryDateValue}" />
            <apex:param name="optNameValue" value="" assignTo="{!objlookupFieldValuesdWrapper.strOptNameValue}" />
        </apex:actionFunction>
        
        <div class="slds" id="formId">
            <c:Generic_Input_Field sObjectType="{!objLookup}" fieldName="account__c" displayLabel="{!$ObjectType.Lookups__c.Fields.Account__c.Label}" elementId="accountFieldId"/>
            <c:Generic_Input_Field sObjectType="{!objLookup}" fieldName="Are_you_interested__c" displayLabel="{!$ObjectType.Lookups__c.Fields.Are_you_interested__c.Label}" elementId="areYouInterestedFieldIf"/>
            <c:Generic_Input_Field sObjectType="{!objLookup}" fieldName="Entry_Date__c" displayLabel="{!$ObjectType.Lookups__c.Fields.Entry_Date__c.Label}" elementId="entryDateFieldId"/>
            <c:Generic_Input_Field sObjectType="{!objLookup}" fieldName="Opt_Name__c" displayLabel="{!$ObjectType.Lookups__c.Fields.Opt_Name__c.Label}" elementId="optNameFieldId"/>
            
            <input id="saveButtonId" class="slds-button slds-button--neutral" type="button" onclick="saveData();" value="Save" />
        </div>
        
    </apex:form>
</apex:page>